.elevation-4 {
    background-color: #1f3c88;
}

main.py-4 {
    background-color: #f9f9f9;
    display: flex;
    /* use flexbox to center content */
    justify-content: center;
    align-items: center;
}

/* styles for the content inside the container */
main.py-4 .content {
    max-width: 600px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

thead, th, #batch-year-dropdown, #edt-btn {
    background-color: #1f3c88;
    color: #fff;
}

.card-header {
    background-color: #B8DEFF;
}

#edt-btn {
    border-radius: 16px;
}

#edt-btn-students {
    border-radius: 15px;
    background-color: #33711D;
    color: #fff;
}

#grade-btn {
    border-radius: 15px;
    background-color: #FF8C04;
    color: #fff;
}

table {
    border: none;
}

